.popup__button-close {
    width: 32px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../../../images/input-button-close\ disabled.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    border: none;
    position: absolute;
    top: -38px;
    right: -38px;
    padding: 0;
}


.popup__button-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 465px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        right: -1px;
        background-size: 20px 20px;
    }
}
