.popup__group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: none;
    padding: 0;
    margin: 48px 0 48px 0;
}


@media screen and (max-width: 550px) {
    .popup__group {
        margin: 75px 0 45px 0;
    }
}
